<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="com.google.android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA_PRIVILEGED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
       Set to true if your app is Standalone, that is, it does not require the handheld
       app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".PermissionsActivity"
            android:exported="true"
            android:taskAffinity="by.akella.terminalwatch">

            <intent-filter>
                <action android:name="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".TerminalWatchfaceService"
            android:directBootAware="true"
            android:exported="true"
            android:label="Terminal WatchFace"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watch_preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/watch_preview" />

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

            <meta-data
                android:name="com.google.android.wearable.watchface.companionBuiltinConfigurationEnabled"
                android:value="true" />
        </service>

        <service android:name=".data.PassiveDataService"
            android:permission="com.google.android.wearable.healthservices.permission.PASSIVE_DATA_BINDING"
            android:exported="true" />

        <receiver
            android:name=".StartUpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

<!--    <application-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:hasCode="false">-->

<!--&lt;!&ndash;        <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;            android:name="com.google.android.wearable.standalone"&ndash;&gt;-->
<!--&lt;!&ndash;            android:value="true" />&ndash;&gt;-->

<!--        <property-->
<!--            android:name="com.google.wear.watchface.format.version"-->
<!--            android:value="2" />-->
<!--    </application>-->
</manifest>